.claro * {
  outline: none;
}
.container {
	font-size: 10pt;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 800px;
	min-width: 390px;
	margin: 0 auto;
	background: #FAFAFA;
	-moz-box-shadow:5px 0px 5px 0px rgba(119, 119, 119, 0.79);
	-webkit-box-shadow:5px 0px 5px 0px rgba(119, 119, 119, 0.79);
	box-shadow:5px 0px 5px 0px rgba(119, 119, 119, 0.79);
	padding: 5px;
  box-sizing: border-box;
}

.container h1 {
  margin: -5px -5px 15px -5px;
  padding: 20px;
  background: #eee;
  -moz-box-shadow:0px 3px 3px 0px rgba(119, 119, 119, 1);
	-webkit-box-shadow:0px 3px 3px 0px rgba(119, 119, 119, 1);
	box-shadow:0px 3px 3px 0px rgba(119, 119, 119, 1);
	border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.container .subscribe {
  position: absolute;
  top: 20px;
  right: 20px;
}