.loadingPanel {
	position: absolute;
	top: 0;
	left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(171, 214, 255, 0.5);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.loadingPanel .animation {
  height: 100%;
  width: 100%;
  background:url("//ajax.googleapis.com/ajax/libs/dojo/1.8.2/dijit/themes/claro/images/loadingAnimation.gif") no-repeat center center;
}