
<div id="container_dashboard" class="container">
  <h1>Admin Dashboard</h1>
  <ul class="nav nav-tabs">
    <li class="active">
      <a id="overview_nav" href="#overview">Overview</a>
    </li>
    <li><a id="grid_view_nav" href="#grid_view">Grid view</a></li>
    <li><a id="list_view_nav" href="#list_view">List view</a></li>
    <li><a id="user_view_nav" href="#user_view">User view</a></li>
  </ul>
  
  <div id="overview">
    <button id="create_run" class="btn" type="button">
      <i class="icon-plus-sign"></i> Create run
    </button>
    <br>
    <br>
    The current run id is:<span id="current_run"></span>
  </div>
  
  <div id="list_view">
    <h3>Orders</h3>
    <div id="orders">
    </div>
  </div>

  <div id="grid_view">
    <div id="orderTable" class="row span12">
    </div>
  </div>

  <div id="user_view">
  </div>
  
</div> <!-- /container -->
