
<table id="order_list" class="table table-hover">
  <thead>
    <th><i class="icon-trash"></i></th>
    <th>Quantity</th>
    <th>Order</th>
    <th>Size</th>
    <th>Comments</th>
    <th>Price</th>
  </thead>
</table>
<span id="order_info">
  <i class="icon-info-sign"></i>
  <h5 style="display:inline;padding-left:5px;">There are no items in this order.</h5>
</span>
<hr>

<form id="place_order_form" class="pull-right">
  <label><strong>Total $<span id="total"> 0.00</span></strong></label>
</form>
